node-red/flow.json
[
    {
        "id": "e42fa2fb.d85078",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "17742a3a.2f11c6",
        "type": "inject",
        "z": "e42fa2fb.d85078",
        "name": "button: create a msg",
        "topic": "",
        "payload": "Debout ",
        "payloadType": "str",
        "repeat": "",
        "crontab": "15 17 * * *",
        "once": false,
        "onceDelay": "",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "2c42f9a4.dec326",
                "ae553155.4c32c8"
            ]
        ]
    },
    {
        "id": "2c42f9a4.dec326",
        "type": "debug",
        "z": "e42fa2fb.d85078",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "af37e396.b813a",
        "type": "twitter in",
        "z": "e42fa2fb.d85078",
        "twitter": "",
        "tags": "@api_test",
        "user": "true",
        "name": "",
        "inputs": 1,
        "x": 640,
        "y": 620,
        "wires": [
            [
                "cd1a1941.b7f36",
                "92e005.61a677f8"
            ]
        ]
    },
    {
        "id": "ae553155.4c32c8",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "pack up ",
        "func": "msg.payload = \"&alarm&&set_option&\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7144b344.c06ffc",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "pack up ",
        "func": "var temp = flow.get('temp'); \nvar color = flow.get('color'); \nif(!temp){ temp = \"0\"}\nmsg.payload = \"&display&&static_text&&image_path&&\"+temp+\"&&\"+color+\"&&30&\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 380,
        "wires": [
            [
                "3866a094.7bd1c8"
            ]
        ]
    },
    {
        "id": "cd1a1941.b7f36",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "pack up ",
        "func": "msg.payload = \"&display&&scrolling_text&&image_path&&Tweet !&&#E55120&&50&\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "3866a094.7bd1c8"
            ]
        ]
    },
    {
        "id": "ea6c19db.4f4a48",
        "type": "inject",
        "z": "e42fa2fb.d85078",
        "name": "Temp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "7144b344.c06ffc"
            ]
        ]
    },
    {
        "id": "9c3b2f62.bacdb8",
        "type": "comment",
        "z": "e42fa2fb.d85078",
        "name": "Alarm configuration ",
        "info": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "c5d998df.6e2188",
        "type": "comment",
        "z": "e42fa2fb.d85078",
        "name": "Weather",
        "info": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "92e005.61a677f8",
        "type": "debug",
        "z": "e42fa2fb.d85078",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "c866e14c.b42c68",
        "type": "comment",
        "z": "e42fa2fb.d85078",
        "name": "Twitter feed",
        "info": "",
        "x": 610,
        "y": 580,
        "wires": []
    },
    {
        "id": "abf7587a.35c5b8",
        "type": "openweathermap in",
        "z": "e42fa2fb.d85078",
        "name": "Get weather",
        "wtype": "current",
        "lon": "-3.460680",
        "lat": "48.733146",
        "city": "",
        "country": "",
        "language": "fr",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "514667fe.0df54"
            ]
        ]
    },
    {
        "id": "514667fe.0df54",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "set weather and temp ",
        "func": "var temp = msg.payload.tempc; \nflow.set('temp',temp+\"°C\");\nflow.set('weather',msg.payload.detail);\nflow.set('weather_icon',msg.payload.icon);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "2c42f9a4.dec326"
            ]
        ]
    },
    {
        "id": "5133333b.b7306c",
        "type": "debug",
        "z": "e42fa2fb.d85078",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "9784c539.c1a848",
        "type": "comment",
        "z": "e42fa2fb.d85078",
        "name": "Connexion TCP",
        "info": "",
        "x": 1360,
        "y": 340,
        "wires": []
    },
    {
        "id": "f80004d0.dce2a",
        "type": "timerswitch",
        "z": "e42fa2fb.d85078",
        "name": "Only notification during day",
        "ontopic": "",
        "offtopic": "",
        "onpayload": "on",
        "offpayload": "off",
        "disabled": false,
        "schedules": [
            {
                "on_h": "07",
                "on_m": "00",
                "on_s": "00",
                "off_h": "23",
                "off_m": "00",
                "off_s": "00",
                "valid": true
            }
        ],
        "x": 180,
        "y": 320,
        "wires": [
            [
                "686e65bf.ed569c"
            ]
        ]
    },
    {
        "id": "686e65bf.ed569c",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "set door",
        "func": "flow.set('door',msg.payload);    \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1a858ee0.830da1",
        "type": "inject",
        "z": "e42fa2fb.d85078",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "f80004d0.dce2a",
                "82f5bf9b.a85588"
            ]
        ]
    },
    {
        "id": "12eac954.c49947",
        "type": "comment",
        "z": "e42fa2fb.d85078",
        "name": "Timer minute",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "5bc8ac66.488bec",
        "type": "inject",
        "z": "e42fa2fb.d85078",
        "name": "Weather",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "ef813488.aed448"
            ]
        ]
    },
    {
        "id": "ef813488.aed448",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "pack up ",
        "func": "var weather = flow.get('weather');\nvar weather_icon = flow.get('weather_icon');\nvar color = flow.get('color'); \nif(!weather){ weather = \"0\";}\nif(!weather_icon){weather_icon = \"01d\";}\nmsg.payload = \"&display&&static_image&&\"+weather_icon+\"&&30&\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "3866a094.7bd1c8"
            ]
        ]
    },
    {
        "id": "82f5bf9b.a85588",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "Random color",
        "func": "var colors = [\"#B10DC9\", \"#0074D9\", \"#01FF70\", \"#FF4136\"];\nvar index = Math.round( Math.random() * colors.length)\nvar color = colors[index]; \n\nflow.set('color',color);\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3866a094.7bd1c8",
        "type": "switch",
        "z": "e42fa2fb.d85078",
        "name": "Door",
        "property": "door",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 1090,
        "y": 380,
        "wires": [
            [
                "5133333b.b7306c",
                "1fa59b43.d5e19d"
            ]
        ],
        "outputLabels": [
            "msg"
        ]
    },
    {
        "id": "9382f368.fcc7",
        "type": "inject",
        "z": "e42fa2fb.d85078",
        "name": "button: create a msg",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "x": 660,
        "y": 700,
        "wires": [
            [
                "4e2c96ba.871e18"
            ]
        ]
    },
    {
        "id": "4e2c96ba.871e18",
        "type": "function",
        "z": "e42fa2fb.d85078",
        "name": "pack up ",
        "func": "msg.payload = \"&display&&static_image&&twitter&&30&\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 700,
        "wires": [
            [
                "3866a094.7bd1c8"
            ]
        ]
    },
    {
        "id": "1fa59b43.d5e19d",
        "type": "tcp out",
        "z": "e42fa2fb.d85078",
        "host": "localhost",
        "port": "16666",
        "beserver": "client",
        "base64": false,
        "end": true,
        "name": "",
        "x": 1350,
        "y": 380,
        "wires": []
    }
]