node-red/flow.json
[{"id":"2d1df28e.ad8f6e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d516949.4a9a3","type":"inject","z":"2d1df28e.ad8f6e","name":"button: create a msg","topic":"","payload":"{\"token\":\"my_secret_token\",\"type\":\"one\",\"plugin_name\":\"tkinter_display\",\"message\":\"node display\"}","payloadType":"json","repeat":"","crontab":"15 17 * * *","once":false,"onceDelay":"","x":660,"y":280,"wires":[["ad8605d7.3774e8","cde1724d.20293"]]},{"id":"ad8605d7.3774e8","type":"debug","z":"2d1df28e.ad8f6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":571,"y":139,"wires":[]},{"id":"5d06e432.18ea04","type":"comment","z":"2d1df28e.ad8f6e","name":"Alarm configuration ","info":"","x":630,"y":240,"wires":[]},{"id":"50b1996a.9695d8","type":"function","z":"2d1df28e.ad8f6e","name":"set weather and temp ","func":"var temp = msg.payload.tempc; \nflow.set('temp',temp+\"°C\");\nflow.set('weather',msg.payload.detail);\nflow.set('weather_icon',msg.payload.icon);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["ad8605d7.3774e8"]]},{"id":"6938ce0d.75e788","type":"debug","z":"2d1df28e.ad8f6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":540,"wires":[]},{"id":"65943081.0aeb6","type":"comment","z":"2d1df28e.ad8f6e","name":"Connexion TCP","info":"","x":1360,"y":340,"wires":[]},{"id":"5a82666e.dd24c","type":"function","z":"2d1df28e.ad8f6e","name":"set door","func":"flow.set('door',msg.payload);    \n\n","outputs":1,"noerr":0,"x":360,"y":320,"wires":[[]]},{"id":"ced4797d.b9e898","type":"inject","z":"2d1df28e.ad8f6e","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["ff94daa4.91804","995649ef.fd1878"]]},{"id":"9b567539.3f0648","type":"comment","z":"2d1df28e.ad8f6e","name":"Timer minute","info":"","x":130,"y":80,"wires":[]},{"id":"995649ef.fd1878","type":"function","z":"2d1df28e.ad8f6e","name":"Random color","func":"var colors = [\"#B10DC9\", \"#0074D9\", \"#01FF70\", \"#FF4136\"];\nvar index = Math.round( Math.random() * colors.length)\nvar color = colors[index]; \n\nflow.set('color',color);\n\n","outputs":1,"noerr":0,"x":380,"y":120,"wires":[[]]},{"id":"cde1724d.20293","type":"switch","z":"2d1df28e.ad8f6e","name":"Door","property":"door","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":true,"outputs":1,"x":1090,"y":380,"wires":[["6938ce0d.75e788","26af21dd.417aae"]],"outputLabels":["msg"]},{"id":"ff94daa4.91804","type":"timerswitch","z":"2d1df28e.ad8f6e","name":"Only notification during day","ontopic":"","offtopic":"","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"23","off_m":"00","off_s":"00","valid":true}],"x":180,"y":320,"wires":[["5a82666e.dd24c"]]},{"id":"d96d97e2.b6531","type":"openweathermap in","z":"2d1df28e.ad8f6e","name":"Get weather","wtype":"current","lon":"-3.460680","lat":"48.733146","city":"","country":"","language":"fr","x":190,"y":260,"wires":[["50b1996a.9695d8"]]},{"id":"26af21dd.417aae","type":"http request","z":"2d1df28e.ad8f6e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"127.0.0.1:8080","tls":"","proxy":"","authType":"basic","x":1321.5,"y":382,"wires":[[]]}]